body {
  background-color: rgb(237,195,9);
  margin: 0px;
}

  #menu {
    /* height: 100vh; */
    display: flex;
    align-items: center;
  }
  
  #menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
  }
  
  #menu-items:hover > .menu-item {
    opacity: 0.3;
  }
  #menu-items:hover > .menu-item:hover {
    opacity: 1;
    text-decoration:underline;
    
  }

  .menu-item1 {
    color: rgb(173, 96, 192);
    font-size: clamp(1.5rem, 1vw, 4rem);
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    padding-right: 20%;
  }
  
  .menu-item {
    color: rgb(134, 34, 160);
    font-size: clamp(3rem, 3vw, 8rem);
    font-family: 'Bungee Spice', cursive;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
  }
  
  #menu-background-pattern{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
      rgba(2255, 255, 255, 0.1) 1%,
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin; /* c'était 12 ici */
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: opacity 800ms ease,
      background-position 800ms ease,
      background-size 800ms ease;
  }
  
  #menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }
  
  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -20%;
  }
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -40%;
  }
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -60%;
  }
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -80%;
  }
  #menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -100%;
  }

  #menu[data-active-index='0'] > #menu-background-image {
    background-position: center 35%;
  }
  #menu[data-active-index='1'] > #menu-background-image {
    background-position: center 50%;
  }
  #menu[data-active-index='2'] > #menu-background-image {
    background-position: center 65%;
  }
  #menu[data-active-index='3'] > #menu-background-image {
    background-position: center 80%;
  }
  #menu[data-active-index='4'] > #menu-background-image {
    background-position: center 100%;
  }

  #menu-background-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/reliance_bon.jpeg");
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.9;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
  }
  
  #menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.3;
  }



  
  @media all and (max-width: 800px) {
    .menu-item1{
      font-size: clamp(1.3rem, 1vw, 4rem);
    }
    #menu-items {
      margin-left: clamp(10rem, 10vw, 48rem);
    }
    .menu-item {
      font-size: clamp(2rem, 3vw, 8rem);
    }


  }

  @media all and (max-width: 600px) {
    .menu-item1{
      font-size: clamp(1.1rem, 1vw, 4rem);
      padding-right: 10%;
    }
    #menu-items {
      margin-left: clamp(1rem, 5vw, 48rem);
    }
    .menu-item {
      font-size: clamp(1.3rem, 3vw, 8rem);
    }
    a {
      margin-left: clamp(5rem, 5vw, 48rem);
    }
  }

  @media all and (max-width: 400px) {
    .menu-item1{
      font-size: clamp(0.9rem, 1vw, 4rem);
    }
    a {
      margin-left: clamp(2rem, 5vw, 48rem);
    }
  }

