:root {
  --back-color: rgb(255, 213, 28);
  --primary-color: #ffffff;
  --header-back: rgb(255, 213, 28);
  --header-text: 255, 213, 28;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

h3, p, ul, h2, h1 {
  color: rgb(109, 4, 136);
}

header {
  background-color: var(--header-back);
  color: var(--header-text);
}