:root {
  --back-color: rgb(255, 224, 88);
  --primary-color: #ffffff;
  --header-back: (255, 224, 88);
  --header-text: rgb(255, 255, 255);
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

h3, p, ul, h2, h1 {
  color: rgb(134, 34, 160);
}

header {
  background-color: var(--header-back);
  color: var(--header-text);
}